<tui-root>
  <form [formGroup]="form">
    <div class="tui-row">
      <tui-input-number
        formControlName="invested_value"
        class="tui-col_md-4"
        [prefix]="'R$ ' | tuiCurrency"
        [decimal]="'always'"
      >
        Informe o valor do produto:
      </tui-input-number>

      <tui-input-number
        formControlName="monthly_rate"
        class="tui-col_md-4"
        [precision]="2"
        [decimal]="'always'"
      >
        Informe o rendimento mensal da aplicação:
      </tui-input-number>
    </div>
  </form>
  <router-outlet></router-outlet>
</tui-root>
